.notification-badge {
  position:relative;
  padding:3px 6px;
  background-color: #fff;
  color: #941e1e;
  bottom: 15px;
  left: 15px;
  border-radius: 50%;
}
.notified{
  position: absolute;
}

.notification-badge-empty {
  position:relative;
  padding:3px 6px;
  opacity:0.0;
  bottom: 15px;
  left: 15px;
  border-radius: 50%;

}
.btn-small {
    text-transform: unset !important;;
}

.link-button {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1em;
  font-family: serif;
}
.link-button:focus {
  outline: none;
}
.link-button:active {
  color:red;
}