<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Form</title>
</head>
<body>
<form method="post">
    <p>
    <label for="street">Street</label><br>
    <input type="text" name="street" value=""/>
    </p>
    <p>
    <label for="house">House</label><br>
    <input type="text" name="house" value=""/>
    </p>
    <p>
    <label for="title">Title</label><br>
    <input type="text" name="title" value=""/>
    </p>
    <p>
    <label for="content">Content</label><br>
    <input type="text" name="content" value=""/>
    </p>
    <p>
    <label for="activities">Activities</label><br>
    <select id="activities" name="activities">
    {% for items in result %}
       <option value="{{ items.id }}">
        {{ items.name }}
       </option>
    {% endfor %}
    </select>
    </p>
    <input type="submit" value="Add new">
</form>

<p>Result:</p>
{% for items in result %}
<p>{{items.name}}</p>
{% endfor %}

</body>
</html>
