{% extends "base.html" %}

{% block content %}

<section id="event" class="section">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <table class="responsive-table striped">
                    <tbody>
                        {% for message in messages %}
                          <tr>
                            <td>{{ message.created_at }}</td>
                            <td>{{ message.content}}</td>
                            <td><a href="{{ url_for('user_profile', pk=message.sender) }}">{{ message.name + ' ' + message.surname }}</a></td>
                            <td><a href="{{ url_for('get_event', pk=message.event) }}">{{ message.title }}</a> </td>
                            {% if message.status == invite_status.CREATED %}
                                <td>
                                   <form action="{{ CustomURLProcessor().url_for(request, 'accept_event_invite').include_query_params(event=message.event, event_invites = message.event_invite, sender=message.sender, message_id=message.id) }}" method="POST">
                                        <button class="btn-floating green lighten-2 link-button" type="submit" name="action">
                                        <i class="material-icons right">add_task</i>
                                        </button>
                                   </form>
                                </td>
                                <td>
                                    <form action="{{ CustomURLProcessor().url_for(request, 'decline_event_invite').include_query_params(event=message.event, event_invites = message.event_invite, sender=message.sender, message_id=message.id) }}" method="POST" >
                                        <button class="btn-floating red lighten-2" type="submit" name="action">
                                        <i class="material-icons right">do_disturb</i>
                                        </button>
                                    </form>
                                </td>
                              {% else %}
                                <td>
                                    <a class="btn-floating disabled"><i class="material-icons">add_task</i></a>
                                </td>
                                <td>
                                    <a class="btn-floating disabled"><i class="material-icons">do_disturb</i></a>
                                </td>
                          {% endif %}
                          </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock content %}