{% extends "base.html" %}

{% block content %}
<div class="valign-wrapper row login-box">
  <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
    <form>
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate" required>
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" required>
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" required>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" minlength="6" required autocomplete="on">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
      </div>
      <div class="row">
        <div class="input-field col s6">
          <div class="gender-male">
            <label>
              <input class="with-gap" name="gender" type="radio" id="male" required checked />
              <span>Мужчина</span>
            </label>
          </div>
          <div class="gender-female">
            <label>
              <input class="with-gap" name="gender" type="radio" id="female" required checked/>
              <span>Женщина</span>
            </label>
          </div>
        </div>
        <div class="input-field col s6 ">
          <button class="btn btn-large btn-register waves-effect waves-light right" type="submit" name="action">Register
            <i class="material-icons right">done</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}